div#banner { 
	position: fixed; 
	top: 0; 
	left: 0; 
	background-color: #778899; 
	width: 100%; 
	height: 50px;
}

div#banner-content { 
	width: 100%; 
	margin: 0 auto; 
	padding-bottom: 10px;
	padding-top: 10px; 
}

div#main-content { 
	padding-top: 70px;
	padding-right: 0px;
	width: 100%;
}

div#notifications {
	padding: 10px;
	margin: 5px;
	border: 1px solid #000;
	border-radius: 25px;
}
.form-container-shadow{
	box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
	padding: 15px
}
.login-button {
	padding-left: 15px;
	padding-right: 15px;
	background-color: #03899c;
}